

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/* *{
    margin: 0px;
    padding: 0px;
}
*/
body{
    font-family: 'Exo', sans-serif;
    background-image:  url()
} 


.header{
    text-align: center;
}
.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


/*-------------------loader----------------------*/

.spinner-wrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    /* background-color: rgba(71, 106, 123, 0.877); */
    width: 100%;
    height: 100%;
    z-index:9999;
    transition: all 0.2s;
}
  
  .spinner-border{
   height: 60px;
   width: 60px;
    /* transition: all 0.2s; */
  }
  
  
  /*----------------Adding CRUD oprations---------------  */
  .form-name{
    text-align: center;
    font-size: 25px;
    
  }
  .operations-data{

    padding: 15px;

  }
  .a{
    text-decoration: none;
  }
  input{
    border: 1px solid #fd5e;
    border-radius: 50px;
    height: 40px;
    width: 250px;
    align-items: center;
    text-align: center;
   
  }
  .element-names{
    height: 40px;
    width: 250px;
  }

  .btns{
    text-align: center;
    padding-left:30px;
    margin-left: 10px;
    
    font-size: 15px;
    font-weight: 500;
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
    
    background: rgba(60, 159, 192, 0.773);
    border: 2px solid #fd5e;
    border-radius: 50px;
    padding: 9px 25px;
    
  }

  .operations{
    padding: 20px;
    align-items: center;
}

.log-out    {
    
    margin-bottom: 50px;
    margin-left: 930px;
    /* width: 120px ; */
    
    text-decoration:none;
   
  }
/* 
  .fix{
    position: sticky;
    border-collapse: collapse;
    top: 0;

} */
                            /* --added schrolling to table-- */
 .operations-data{
    width: 100%;
     top: 0;
     /* position: static; */
     position: sticky;
   /* border: 3px solid #73d1c3; */
 
 }

 .container {
    overflow-y: auto;
    height: 600px;
  }
  .container thead th {
    position: sticky;
    top: 0;
  }
  table {
    border-collapse: collapse;        
    width: 100%;
  }
  th,
  td {
    padding: 8px 15px;
    border: 2px solid #529432;
  }
  th {
    background: #ABDD93;
  }
  