

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}

body{
   
    
   
   /* background-image: url(Images/back_4.jpg) ;  */
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 1000px 630px;
    /* background-color: #f6d43a70; */
    


}

.container{
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    width: 900px;
    height: 600px;
    /*max-width: 100%;*/
    /* margin-left: 750px; */
    background-color: #2bba9b86;
    align-content: center;
   
    

}
/* 
.pic{
    height: 200px;
    width:100px;
} */

.elements{
    text-align: center;
}

.form{
     padding-left: 100px; 
    margin: 55px;
    ;
    
    
}
h2{

    font-size: 45px;
    padding-bottom: 40px;
    text-align: center;
    
}

.form-control{
    margin-bottom: 30px;
    position: relative;
    margin-left: 100px;
    
}
/*
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    font-size: 20px;
}
*/
.form-control input{
    width: 70%;
    border: 2px solid #495255;
    font-size: 14px;
    border-radius: 5px;
    padding: 12px;
    display: block;
    
    border-radius: 17px;
    font-family: 'Comfortaa', cursive;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.success input{
    border-color: #39df7e;
}

.form-control.error input{
    border-color: #d41a1a;
}

.form-control i {
    position: absolute;
    right: 12px;
    top: 40px;
    visibility: hidden;
}
small{
    font-size: 15px;
    
}
.form-control.error small{
    visibility: visible;
}

.form-control small{
    color: #ffd104;
    position: absolute;
    
    visibility: hidden;
}

.form-control.success i.fa-check-circle{
    color: #209708;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #df3434;
    visibility: visible;
}



.form .btn:hover{
    background: #d2ad05;
}

.btn{
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid #fd5e;
    border-radius: 50px;
    padding: 9px 25px;
    font-size: 25px;
    font-weight: 400;
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
    margin-left: 250px;
}

 label{
    padding: 20px;
    font-family: 'Comfortaa', cursive;
    border: none;
    align-items: center;
    font-weight:bold;
    font-size: 15px;
    margin-bottom: 500px;
    border-radius: 10px;

}







