* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    box-sizing: border-box;


}

body {
    background-image: url(Images/back_3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*
.login-form{
    font-size: 50px;
    padding-left: 80px;
    padding-top: 200px;  
}
*/
a { color: inherit; } 
a:hover , button{
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
.login-box{
    font-size: 50px;
    padding-left: 790px;
    padding-top: 200px;
    
   
    align-items: center;
    vertical-align: top;
    font-family: sans-serif;
}
.element-names{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 25px;
    
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.login-btn{
    text-align: center;
   
    
  }
.or{
    text-align: center;
    font-size: 20px;
    padding-right: 130px;
    padding-top: 20px;
}

.create-btn{

    font-family: 
}
button {
    font-size: 20px;
    font-weight: 500;
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
}

button {
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid #fd5e;
    border-radius: 50px;
    padding: 9px 25px;
}